<% provide(:title, 'About') %>

<div class="center hero-unit">
	<h1> God Jul Rickard! </h1>

	<p>Detta är din alldeles egen hemsida som du får fylla med vad du vill, alltefter behov! (så länge det är en Rails-app..) <br>
	Vill du så hjälper jag till med att lägga till det du vill så håller jag det jag lärt mig vid liv :) </p> 

	<p>Kanske vill du och Robin använda sidan till att dela saker? Kanske blir det ett ställe att dela med dig av vad Knodden pysslar med? </p>

	<p>Koden ligger i ett repository på gitgub: https://github.com/attback/up-your-sleeve, bara att klona. <br>
	Sidan är sedan deployad på Heroku och du kommer åt den på up-your-sleeve.herokuapp.com men vid det här laget vet du väl ett nördigare sätt att komma åt den?! Jag kommer bjuda in dig som Collaborator till den appen inom kort så att du också kan pusha upp ändringar.</p>

</div>