<% provide(:title, 'About') %>

<div class="center hero-unit">
	<h1> God Jul <a href="http://www.facebook.com/rickard.nilsson/">Rickard</a>! </h1>

	<p>Detta är din alldeles egen hemsida som du får fylla med vad du vill, alltefter behov! (enda kravet är att det är en Rails-app..) <br>
	Vill du så hjälper jag till med att lägga till det du vill så håller jag det jag lärt mig vid liv :) </p> 

	<p>Kanske vill du och Robin/Martin använda sidan till gemensamma projekt? Kanske blir det ett ställe att dela med dig av vad Knodden pysslar med? Det är du som brukar ha alla idéer... :P </p>

	<p>Koden ligger i ett repository på gitgub: <a href="https://github.com/attback/up-your-sleeve">github.com/attback/up-your-sleeve</a>, fritt fram att klona. <br>
	Sidan är sedan deployad på Heroku och du kommer åt den på <a href="http://www.up-your-sleeve.herokuapp.com">up-your-sleeve.herokuapp.com</a> men vid det här laget vet du väl ett nördigare sätt att komma åt den?! <br>
	Jag kommer bjuda in dig som Collaborator till den appen inom kort så att du också kan pusha upp ändringar.</p>

	<p>Puss på dej!</p>

</div>