<% provide(:title, 'Contact') %>

<div class="center hero-unit">
	<h2>Contact</h2>
	<p>
	  Contact <a href="http://www.facebook.com/attback">Josefin</a> for help or update requests of the site!
	</p>
</div>
