<% provide(:title, 'Home') %>

<div class="center hero-unit">
	<h1> *** Happy Holidays *** </h1>

	<h2>
		
		Här ska det in ett liten vers!

		This is the home page for
		<a href="http://www.facebook.com/rickard.nilsson/">Rickard</a>.
	</h2>

</div>

