<% provide(:title, 'Home') %>

<%= audio_tag "sleighbells.wav", :controls => true %>

<div class="center hero-unit" >
	<h1 id="home_header"> Happy Holidays </h1>
		
	<p>Mot årets jul det lackade <br>
	Jag ivrigt satt och hackade </p>

	<p>För varje bra manschettknapp <br>
	Ju länkar till en web-app </p>

	<p>Använd till ett nytt projekt <br>
	Till wiki, blogg och lek med släkt? </p>
	
	<p>Och när Knoddis sover bäst <br>
	Då gör jag din change request </p>

	<p>Nästan vad du än begär <br>
	Det, min fina Rickard kär </p>
	
	<p>Ska jag så försöka koda <br>
	På min lilla datorlåda </p>

	<p>Det kan blir mitt tidsfördriv <br>
	För att hålla sånt vid liv </p>

	<p>Som jag under året lärt mig<br>
	??? </p>

	<p>Annars ska jag assistera <br>
	Om du vill dig lära mera </p>
	
	<p>Om rälsar och rubiner <br>
	Om script och subrutiner </p>

	<p>Med länk direkt till skärmen <br>
	Ett äss du har på ärmen </p>
	
	<p>En God Jul önskas så igen<br>
	Till dig, min älskade och vän!</p>

</div>
