<% provide(:title, 'Home') %>

<%= audio_tag "happyholiday.mp3", :controls => true %>

<div class="center hero-unit">
	<h1 id="home_header"> *** Happy Holidays *** </h1>
		
	<p>Mot årets jul det lackade <br>
	Jag ivrigt satt och hackade </p>

	<p>För varje bra manschettknapp <br>
	Ju länkar till en web-app </p>

	<p>Använd till ett nytt projekt <br>
	Till wiki, blogg eller lek med släkt? </p>
	
	<p>Och när Knoddis sover som bäst <br>
	Gör jag din change request </p>

	<p>Ja, vad du än begär <br>
	Min fina Rickard kär </p>
	
	<p>Ska jag försöka koda <br>
	På vår datorlåda </p>

	<p>Det blir mitt tidsfördriv <br>
	Och håller sånt vid liv </p>

	<p>Som året har mig lärt <br>
	??? </p>

	<p>Annars ska jag assistera <br>
	När du vill lära mera </p>
	
	<p>Om rälsar och rubiner <br>
	Om script och subrutiner </p>

	<p>Med länk direkt till skärmen <br>
	Ett äss du har på ärmen </p>
	
	<p>En God Jul önskas så igen<br>
	Till dig, min älskade och vän!</p>

</div>

<%= link_to image_tag("snow-flakes.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>

