<% provide(:title, 'Projects') %>

<div class="center hero-unit">
	<h1>Projects</h1>
	<p>Kanske kan du ha gemensamma projekt här, du har ju en projektavdelning på wewikin redan för allt ditt egna :) </p>
	<br>
	<ul id="projectlist">
	  <li>RFID-sändare</li>
	  <li>Vad mer du nu håller på med..</li>
	  <li>Nya idéer</li>
	</ul>
</div>
