@import "bootstrap";

$darkBlue: #193485;
$lightBlue: #B5DEFF;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
  background-image: image-url('snow-flakes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-unit {
  background-color: rgba(209,222,237,0.7);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

#home_header {
  padding-bottom: 30px;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.6em;
  /*line-height: 1.2em;*/
  color: $darkBlue;
  a {
    color: $green;
  }
}

#projectlist {
    color: $darkBlue;
    text-align: left;
    padding-left: 40px;
    font-size: 1.4em;
}

/* header */

header {
  font-size: 1.8em;
  ul {
    padding-top: 12px;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  line-height: 1.5;
  &:hover {
    color: $lightBlue;
    text-decoration: none;
  }

}

/* footer */

footer {
  font-size: 1.8em;
  margin-top: 45px;
  padding-top: 7px;
  padding-bottom: 10px;
  border-top: 1px solid $darkBlue;
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
